<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="shortcut icon" href="https://www.bravecollective.com/i/logo.png" type="image/x-icon">
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        />
        <style>
            .brave-primary {
                background-color: #007ba0;
            }
            a:not(.normal-sized) {
                color: #333333;
                font-size: 1.5em;
                padding-right: 20px;
            }
            .large-text {
                font-size: 1.5em;
            }
            .icon {
                padding-right: 10px;
                padding-left: 10px;
            }

            .dropdown-button {
                cursor: pointer;
            }

            .dropdown {
                position: relative;
                display: inline-block;
            }

            .dropdown-content {
                display: none;
                position: absolute;
                right: 0;
                top: 50px;
                background-color: #f1f1f1;
                min-width: 200px;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                z-index: 1;
            }

            .dropdown-content a {
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
            }

            .dropdown-content a:hover {
                background-color: #ddd;
            }

            .show {
                display: block;
            }
        </style>
        <script>
            function toggleDropdown() {
                document.getElementById("dropdown-id").classList.toggle("show");
            }
        </script>
        <title>BraveBucks - User Management</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg brave-primary">
            <a class="navbar-brand icon" href="#">
                <img
                    src="https://www.bravecollective.com/i/logo.png"
                    width="52"
                    height="45"
                    alt=""
                />
            </a>
            <a class="navbar-brand large-text" href="/">BraveBucks</a>
            <a href="/personal">Personal</a>
            <% if (user) { %>
                <% if (user.role === "manager" || user.role === "admin") { %>
                    <a href="/management">Management</a>
                <% } %>
             <div class="ml-auto">
                <div class="dropdown">
                    <img src="https://images.evetech.net/characters/<%= user.user_id %>/portrait?tenant=tranquility&size=64" height="45px" width="auto" class="dropdown-button" alt="Profile" onclick="toggleDropdown()" >
                    <div id="dropdown-id" class="dropdown-content">
                        <a class="normal-sized" href="/personal"><%= user.username %></a>
                        <a class="normal-sized" href="/">Home</a>
                        <a class="normal-sized" href="/auth/logout">Log Out</a>
                    </div>
                </div>
            </div>
            <% } else { %>
            <a class="navbar-brand ml-auto" href="/auth/oauth2">
                <img
                    src="https://web.ccpgamescdn.com/eveonlineassets/developers/eve-sso-login-black-large.png"
                    alt=""
                />
            </a>
            <% } %>
        </nav>
        <br>
        <h1 class="text-center">User Management</h1>
        <br>
        <div class="container">
            <h2>Users with over <%= parseFloat(amountRequired).toLocaleString("en") %> ISK stored</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Username</th>
                        <th scope="col">ID</th>
                        <th scope="col">Role</th>
                        <th class="col">Amount</th>
                        <th class="col">Token present</th>
                        <!-- <th class="col">Delete</th>
                        <th class="col">Invalidate Token</th> -->
                        <th class="col">Force Request</th>
                    </tr>
                </thead>
                <tbody>
                    <% users.forEach(user => { %>
                        <% if (user.amount >= amountRequired) { %>
                            <tr class="flex-nowrap">
                                <td><%= user.username %></td>
                                <td><%= user.user_id %></td>
                                <td><%= user.role.toUpperCase() %></td>
                                <td><%= parseFloat(user.amount).toLocaleString("en") %> ISK</td>
                                <td><%= user.refresh_token ? "Yes" : "No" %></td>
                                <!-- <td >
                                    <a href="/management/users/delete?id=<%= user.user_id %>" class="normal-sized btn btn-danger">Delete</a>
                                </td>
                                <td>
                                    <a href="/management/users/invalidate?id=<%= user.user_id %>" class="normal-sized btn btn-warning">Invalidate Token</a>
                                </td> -->
                                <td>
                                    <a href="/management/users/force?id=<%= user.user_id %>" class="normal-sized btn btn-warning">Force Request</a>
                                </td>
                            </tr>
                        <% } %>
                    <% }) %>
                </tbody>
            </table>
            <br>
            <hr>
            <br>
            <h2>All Users</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Username</th>
                        <th scope="col">ID</th>
                        <th scope="col">Role</th>
                        <th class="col">Amount</th>
                        <th class="col">Token present</th>
                        <!-- <th class="col">Delete</th>
                        <th class="col">Invalidate Token</th> -->
                        <th class="col">Force Request</th>
                    </tr>
                </thead>
                <tbody>
                    <% users.forEach(user => { %>
                        <tr>
                            <td><%= user.username %></td>
                            <td><%= user.user_id %></td>
                            <td><%= user.role.toUpperCase() %></td>
                            <td><%= parseFloat(user.amount).toLocaleString("en") %> ISK</td>
                            <td><%= user.refresh_token ? "Yes" : "No" %></td>
                            <!-- <td >
                                <a href="/management/users/delete?id=<%= user.user_id %>" class="normal-sized btn btn-danger">Delete</a>
                            </td>
                            <td>
                                <a href="/management/users/invalidate?id=<%= user.user_id %>" class="normal-sized btn btn-warning">Invalidate Token</a>
                            </td> -->
                            <td>
                                <a href="/management/users/force?id=<%= user.user_id %>" class="normal-sized btn btn-warning">Force Request</a>
                            </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </body>
</html>